body
	background #545454 url('../images/new-york.jpg')
	background-position center center
	background-size cover
	background-attachment fixed
	background-repeat no-repeat
	height 100vh
	position relative
	width 100vw
	
.layer
	background rgba(black, 0.7)
	height 100vh
	position absolute
	width 100vw
	
.card
	position relative
	background transparent url('../images/new-york.jpg')
	background-repeat no-repeat
	border-radius 30px
	background-position center center
	background-size cover
	background-attachment fixed
	height 85vh
	width 70vw
	&__city
		width 60%	
	&__info
		background white url('../images/statue.jpg')
		background-repeat no-repeat
		background-position bottom
		border-top-right-radius 30px
		height 85%
		position absolute
		right 0
		width 40%

.card__footer 
	position relative
	width 70vw
	height 15vh
	bottom 100px
	&--hashtag
		width 60%
		background-image -webkit-radial-gradient(right top, 150px 230px, #000, transparent)
		height 13vh
		left 0
		position absolute
		border-bottom-left-radius 30px
	&--thumbs
		width 40%
		background red
		right 0
		position absolute
		border-bottom-right-radius 30px
		height 13vh
	

